* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

li,
a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin: 0 auto;
}

.nav-list {
    font-family: 'Poppins', sans-serif;
}

.nav-list li {
    display: inline-block;
    padding: 15px 50px;
}

.nav-list li a {
    transition: 0.3s ease 0s;
}

.nav-list li a:hover {
    color: #88AED0;
    text-decoration: underline;
}

.welcome__area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 250px;
}

.author__name {
    font-size: 40px;
}

.author__desc {
    padding: 0;
    font-size: 20px;
}

.email__line {
    padding-top: 6px;
    padding-bottom: 6px;
}

.telephone__line {
    padding-top: 6px;
    padding-bottom: 6px;
}

.media__line {
    padding-top: 6px;
    padding-bottom: 6px;
}

.welcome__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 40%;
    padding: 4px 5px;
    color: white;
    font-size: 16px;
}

.detail__area {
    padding-right: 120px;
}

.image__area {
    padding-left: 120px;
    max-width: 28%;
    max-height: 28%;
}

.harry__image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 250px;
    image-rendering: optimizeSpeed;
    border: 15px solid #d2e4e6;
    box-shadow: 0 0 0 15px #e7f0f2;
}

.about__area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 260px;
}

.about__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 15%;
    padding: 4px 5px;
    color: white;
    font-size: 16px;
}

.find__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 20%;
    color: white;
    font-size: 16px;
    float: right;
    padding: 4px 5px;
}

.find__button {
    background: none;
    border-style: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}


.aboutDetail__area {
    padding-top: 10px;
    width: 35%;
    padding-left: 60px;
}

.about__text {
    padding-top: 14px;
    padding-bottom: 14px;
}

.aboutImage__area {
    padding-left: 120px;
    max-width: 28%;
    max-height: 28%;
}

.gears__image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 250px;
    image-rendering: optimizeSpeed;
    border: 15px solid #d2e4e6;
    box-shadow: 0 0 0 15px #e7f0f2;
}

.about__area__more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 250px;
}

.aboutDetail__area__more {
    padding-right: 100px;
}

.fa-facebook-square {
    cursor: pointer;
}

.fa-twitter-square {
    cursor: pointer;
}

.fa-github-square {
    cursor: pointer;
}


.about__more__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 51%;
    color: white;
    font-size: 16px;
    padding: 4px 5px;
}

.about__me__text {
    width: 30%;
}

.code__area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 270px;
    padding-bottom: 270px;
}

.codeImage__area {
    padding-left: 120px;
    max-width: 28%;
    max-height: 28%;
}

.code__image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 250px;
    image-rendering: optimizeSpeed;
    border: 15px solid #d2e4e6;
    box-shadow: 0 0 0 15px #e7f0f2;
}

.codeDetail__area {
    padding-top: 10px;
    width: 35%;
    padding-left: 50px;
}

.code__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 17%;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    margin: 6px;
}

.code__text {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.code__text > div {
    margin: 6px;
}

.skill__java {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 12%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__C {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 9%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__php {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 9%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__html {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 12%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__css {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 9%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__js {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 21%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.skill__laravel {
    background-color: #e7f0f2;
    border-radius: 3px;
    width: 15%;
    color: black;
    font-size: 16px;
    padding: 4px 5px;
}

.time__bubble {
    background-color: #88AED0;
    border-radius: 3px;
    width: 49%;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    margin: 6px;
}

.code__time {
    display: flex;
    flex-direction: column;

}

.code__time > div {
    margin: 6px;
    text-align: center;
}

.java__time {
    width: 100%;
    border-radius: 3px;
    background: #d2e4e6;
}

.java__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.html__time {
    width: 100%;
    border-radius: 3px;
    background: #d2e4e6;
}

.html__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.css__time {
    width: 100%;
    border-radius: 3px;
    background: #d2e4e6;
}

.css__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.php__time {
    width: 65%;
    border-radius: 3px;
    background: #d2e4e6;
}

.php__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.js__time {
    width: 35%;
    border-radius: 3px;
    background: #d2e4e6;
}

.js__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.c__time {
    width: 25%;
    border-radius: 3px;
    background: #d2e4e6;
}

.c__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}

.laravel__time {
    width: 25%;
    border-radius: 3px;
    background: #d2e4e6;
}

.laravel__time p:hover {
    color: #4A708B;
    transition: 0.7s ease 0s;
    font-weight: bold;
}


.footer__div {
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    background: #d2e4e6;
}

.footer__text {
    padding-top: 10px;
}

/* Media Queries */

@media screen and (min-width: 601px) {
    div.service__header {
        font-size: 30px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    div.service__header {
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) {
    div.services__container {
        font-size: 20px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    div.services__container {
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) {
    div.lead {
        font-size: 20px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    div.lead {
        height: 150px;
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) {
    div.card__header {
        font-size: 30px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    div.card__header {
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) {
    div.card__container {
        font-size: 20px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    div.card__container {
        font-size: 14px;
    }
}